--readme          README.md
--title           'Stupidedi Documentation'
--markup          markdown

--default-return  ''
--hide-void-return
--no-private
--db build/generated/.yardoc
--output-dir build/generated/doc
--load ./build/doc/lib/rspec-plugin/lib/yard-rspec.rb
--load ./build/doc/lib/meta-plugin/lib/yard-meta.rb
--asset doc/images:images
--files doc/**/*.md

--exclude '/editor'
--exclude '/guides.rb'
--exclude '/contrib.rb'
--exclude '/versions/functional_groups.rb'

--exclude '/versions/[0-9]'
--exclude '/interchanges/[0-9]'
--exclude '/transaction_sets/[0-9]'

lib/**/*.rb
spec/**/*_spec.rb
