--readme          README.md
--title           'Stupidedi Documentation'
--markup          markdown

--default-return  ''
--hide-void-return
--no-private
--db build/generated/.yardoc
--output-dir build/generated/doc
--load ./build/doc/lib/rspec-plugin/lib/yard-rspec.rb
--load ./build/doc/lib/meta-plugin/lib/yard-meta.rb
--asset doc/images:images
--files doc/**/*.md
--exclude 'element_defs\.rb'
--exclude 'segment_defs\.rb'
--exclude 'segment_defs\/'

lib/**/*.rb
spec/examples/**/*_spec.rb
