require "spec_helper"

describe Object do
  describe "#blank?" do
    it "is false" do
      Object.new.should_not be_blank
    end
  end
end

describe String do
  describe "#blank?" do
    context "if string contains non-whitespace characters" do
      it "then is false" do
        "abc".should_not be_blank
        "  x".should_not be_blank
        " x ".should_not be_blank
        "x  ".should_not be_blank
      end
    end

    context "if string is #empty?" do
      it "then is true" do
        "".should be_blank
      end
    end

    context "if string contains only whitespace characters" do
      it "then is true" do
        "  ".should be_blank
        "\t".should be_blank
        "\n".should be_blank
        "\r".should be_blank
        "\f".should be_blank
      end
    end
  end
end

describe Enumerable do
  describe "#blank?" do
    context "if #empty?" do
      it "then is true" do
        [].should be_blank
      end
    end

    context "if not #empty?" do
      it "then is false" do
        [0].should_not be_blank
      end
    end
  end
end

describe NilClass do
  describe "#blank?" do
    it "is true" do
      nil.should be_blank
    end
  end
end
