require "spec_helper" do
end

describe "Object#cons" do
  include QuickCheck::Macro

  context "with no argument" do
    it "creates a singleton list" do
      0.cons.should == [0]
    end
  end

  context "with an array argument" do
    it "prepends the object" do
      "a".cons(%w(b c d)).should == %w(a b c d)
    end

    property("prepends the object") do
      [character, array { character }]
    end.check do |a, as|
      a.cons(as).length.should == 1 + as.length
      a.cons(as).first.should  == a
    end

    it "does not destructively modify the argument" do
      array = %w(b c d)
        "a".cons(array)
      array.should == %w(b c d)
    end
  end
end

describe "Object#snoc" do
  context "with no argument" do
    it "creates a singleton list" do
      0.snoc.should == [0]
    end
  end

  context "with an array argument" do
    it "appends the object" do
      "d".snoc(%w(a b c)).should == %w(a b c d)
    end

    it "does not destructively modify the argument" do
      array = %w(a b c)
        "d".snoc(array)
      array.should == %w(a b c)
    end
  end
end

describe "Object#bind" do
  it "provides an alternative syntax to local variables and parethesized expressions" do
    (1.bind{|a| a + 2 } * 3).
      should == ((1 + 2) * 3)
  end

  it "provides an alternative syntax to local variables and parethesized expressions" do
    1.bind{|a| (a + 2).bind{|b| b * 3 }}.
      should == ((1 + 2) * 3)
  end

  it "provides an alternative syntax to local variables and parethesized expressions" do
    1.bind{|a| a.bind{|b| b + 2 }.bind{|c| c * 3 }}.
      should == ((1 + 2) * 3)
  end
end

describe "Object#tap" do
  let(:object) { double("object") }

  it "requires a block argument" do
    lambda { object.tap }.should raise_error(LocalJumpError)
  end

  it "yields the object to a block argument" do
    object.should_receive(:message).with(:argument)
    object.tap{|o| o.message(:argument) }
  end

  it "returns the object" do
    object.tap { :whatever }.should eq(object)
  end
end

describe "Object#eigenclass" do
  let(:object) { double("object") }

  it "returns a Class" do
    object.eigenclass.should be_a(Class)
  end

  it "cannot be instantiated" do
    lambda { object.eigenclass.new }.should raise_error(TypeError)
  end

  specify { object.eigenclass.should == (class << object; self; end) }
end
