require "spec_helper"

describe "Symbol#to_proc" do
  include QuickCheck::Macro

  it "calls nullary methods" do
    :length.to_proc.call("abc").should == 3
  end

  it "calls nullary methods" do
    :length.to_proc.call([1,1,1]).should == 3
  end

  it "shortens the syntax when passing unary blocks" do
    %w(abc de f).map(&:length).should == [3, 2, 1]
  end

  it "shortens the syntax when passing unary blocks" do
    [1, 4, 3, 0, 2].count(&:zero?).should == 1
  end

  it "calls unary methods" do
    a = {          :a => 10, :b => 10}
    b = {:a => 20,           :c => 20}

    :merge.to_proc.call(a, b).should == a.merge(b)
    :merge.to_proc.call(a, b).should == {:a => 20, :b => 10, :c => 20}
  end

  it "shortens the syntax when passing binary blocks" do
    a = {          :a => 10, :b => 10}
    b = {:a => 20, :b => 20, :c => 20}
    c = {:b => 30, :c => 30, :d => 30}

    [a, b, c].inject(&:merge).should == a.merge(b).merge(c)
    [a, b, c].inject(&:merge).should == {:a => 20, :b => 30, :c => 30, :d => 30}
  end

  property("calls n-ary methods") do
    map(between(0, 10)) { integer }
  end.check do |as|
    :call.to_proc.call(lambda{|*bs| bs }, *as).should == as
  end

  property("calls n-ary methods") do
    map(between(0, 10)) { integer }
  end.check do |as|
    :call.to_proc.call(lambda{|*bs| bs.length }, *as).should == as.length
  end

  it "shortens the syntax when passing n-ary blocks", :ruby => 1.8 do
    list = []

    # avert your eyes, lisp haters!
    [[:zero?,     1       ],  #=> 1.__send__(:zero?)            == 1.zero?
     [:length,    "string"],  #=> "string".__send__(:length)    == "string".length
     [:+,         "a", "b"],  #=> "a".__send__(:+, "b")         == "a" + "b"
     [:fetch, {}, "a", "b"],  #=> {}.__send__(:fetch, "a", "b") == {}.fetch("a","b")
     [:[]=, list,  2, true],  #=> list.__send__(:[]=, 2, true)  == list[2] = true
     [:call, :length, "ab"]]. #=> :length.__send__(:call, "ab") == "ab".length

     map(&:call).should == [1.zero?,
                            "string".length,
                            ("a" + "b"),
                            {}.fetch("a","b"),
                            true,
                            "ab".length]
    list[2].should == true
  end

  it "shortens the syntax when passing n-ary blocks" do
    list = []

    # avert your eyes, lisp haters!
    [[:zero?,     1       ],  #=> 1.__send__(:zero?)            == 1.zero?
     [:length,    "string"],  #=> "string".__send__(:length)    == "string".length
     [:+,         "a", "b"],  #=> "a".__send__(:+, "b")         == "a" + "b"
     [:fetch, {}, "a", "b"],  #=> {}.__send__(:fetch, "a", "b") == {}.fetch("a","b")
     [:[]=, list,  2, true],  #=> list.__send__(:[]=, 2, true)  == list[2] = true
     [:call, :length, "ab"]]. #=> :length.__send__(:call, "ab") == "ab".length

     map{|n,*as| n.call(*as) }.should ==
                           [1.zero?,
                            "string".length,
                            ("a" + "b"),
                            {}.fetch("a","b"),
                            true,
                            "ab".length]
    list[2].should == true
  end
end

describe "Symbol#call" do
  include QuickCheck::Macro

  it "requires at least one argument" do
    lambda { :message.call }.should raise_error(ArgumentError)
  end

  it "sends a message to the first argument" do
    receiver = mock("object")
    receiver.should_receive(:message)
    :message.call(receiver)
  end

  it "passes the remaining arguments along" do
    receiver = mock("object")
    receiver.should_receive(:message).with("a", "b")
    :message.call(receiver, "a", "b")
  end

  it "does not flatten the argument list" do
    receiver = mock("object")
    receiver.should_receive(:message).with(["a", "b"], "c")
    :message.call(receiver, ["a", "b"], "c")
  end
end
