require "spec_helper"

describe "Object#try" do
  let(:object) { mock("object") }

  it "calls a unary block" do
    object.should_receive(:message).with(no_args)
    object.try{|o| o.message }
  end

  it "calls a unary block" do
    object.should_receive(:message).with(no_args)
    object.try(&:message)
  end

  it "calls a nullary method" do
    object.should_receive(:message).with(no_args)
    object.try(:message)
  end

  it "calls a nullary method with a unary block" do
    %w(a b c).try(:map, &:length).should == [1, 1, 1]
  end

  it "calls a nullary method with a binary block" do
    %w(abc def ghi).try(:inject, &:+).should == "abcdefghi"
  end

  it "calls a unary method" do
    object.should_receive(:message).with(:argument)
    object.try(:message, :argument)
  end

  it "calls a unary method with a binary block" do
    %w(abc def ghi).try(:inject, 1){|sum, e| sum + e.length }.should == 10
  end

  it "calls a binary method" do
    object.should_receive(:message).with(:first, :second)
    object.try(:message, :first, :second)
  end
end

describe "nil.try" do
  specify { nil.try{ whatever }.should be_nil }
  specify { nil.try(:a).should be_nil }
  specify { nil.try(:a) { whatever }.should be_nil }
  specify { nil.try(:a, :b, :c).should be_nil }
  specify { nil.try(:a, :b, :c) { whatever }.should be_nil }
end
